{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h3>The Internet Fortune Cookie Database</h3>
<div>
<p>The Internet Fortune Cookie Database (IFCDB) is a repository for fortunes, sayings, quotes, epigrams, jokes, riddles, zen teachings, musings, ponderings, and other amusing and enlightening bits.  The IFCDB is open to almost any text as long as it is freely available or otherwise falls under reasonable fair use.</p>
<p>The initial bulk of the content comes from various &quot;cookie&quot; files that are used with the classic program <code>fortune</code>.  Old timer UNIX users will be familiar with this program as it was often configured to execute and display a fortune cookie when logging into a terminal.  This was likely done by bearded sysadmins trying to amuse themselves and others and was, IMHO, very effective.  The fortune cookie files have thousands of gems collected and roughly categorized throughout the years.  IFCDB aims to bring the same joy of <code>fortune</code> to the bleeding edge Internet technology age.</p>
<p>Many people (in America at least) tend to think that a &quot;fortune cookie&quot; is the delightful treat you get at the end of your Chinese meal.  It's always fun to hope that when you pull out the little paper slip that you'll get a real fortune.  For whatever reason, the fortune cookie masters long ago ran out of wisdom to dispense and often just use a lame saying or even just a fact.  Hardly a fortune.  At least many companies will include a Chinese word or at least some lotto numbers.  Things could be better.</p>
<p>The Internet <em>can</em> make your fortune cookie experience better!  Help to improve IFCDB and it's collected works can amuse you on whatever level you want for whatever purpose.  Here the concept of a fortune cookie will encompass all that the <code>fortune</code> program data was, is, and more.  And as of 2009, the IFCDB direction is to provide a solid quote repository, entertaining and useful website, social network features, and web APIs so that fortunes can be accessed from any platform and any device.  Please join in the fun!</p>
</div>

<h3>Goals</h3>
<ul>
  <li>Top notch fortune cookie repository.</li>
  <li>Fortunes which are searchable, categorized, and rated.</li>
  <li>Easy access to fortunes through web browsers and other applications via a web API.</li>
  <li>Good times.</li>
  <li>World domination.</li>
</ul>

<h3>History</h3>
<div>
  <dl>
    <dt>2009-01-08</dt>
    <dd>Founder <a href="http://dil.lehn.org/">David I. Lehn</a> is stunned that the <tt><a href="http://www.ifcdb.com/">ifcdb.com</a></tt> domain is available.  In this day and age it's very unlikely to find one of your first domain name ideas available.  In fact, it can take months of looking.  It is <em>extrodinary</em> to find an available domain that is short <strong>and</strong> appropriate.  <tt>ifcdb.com</tt> was the <em>2<sup>nd</sup></em> name idea, fit the concept perfectly, 5 letters long, a <tt>.com</tt>, and available!  Needless to say, the <tt>ifdb.com</tt> domain was <strike>purchased</strike> leased immediately and the IFCDB was born.</dd>
    <dt>2009-01-07</dt>
    <dd>Founded by <a href="http://dil.lehn.org/">David I. Lehn</a> to organize a collection of personally collected quotes floating around in web pages, files, and bookmarks.  Truthfully, IFCDB is just an excuse to play with awsome technologies and APIs.  This development of the site is an exercise with the aim of learning and improving skills by integrating HTML, XML, RDF, RDFa, CSS, wiki markup, <a href="http://www.python.org/">Python</a>, <a href="http://appengine.google.com/">Google App Engine</a>, <a href="http://www.jquery.com/">jQuery</a>, <a href="http://www.blueprintcss.com/">Blueprint CSS</a>, <a href="http://www.json.org/">JSON</a>, AJAX, <a href="http://www.android.com/">Android</a>, OAuth, <a href="http://www.openid.net/">OpenID</a>, PubSub, <a href="http://developer.facebook.com/">Facebook</a>, social network ideas, and much much more.</dd>
</dl>
</div>
{% endblock %}
