{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<h3>Contact Information</h3>
<div>
<p>If possible try to address any issue you may have by browsing various help pages and other information on the site.  If you have other issues that need solving please use one of the email contacts below.  Please use an appropriate subject and fully describe your issue.  Your email is also more likely to be noticed if the subject includes &quot;IFCDB&quot;.  You can probably notice this is currently all handled by one very busy poor soul giving out his direct personal email address.  Please be considerate.  Thank you.</p>
</div>

<dl>
  <dt>General, Legal, Advertising, Donations, Flames, Praise, Comments, ...</dt>
  <dd><a href="mailto:dil@lehn.org">David I. Lehn &lt;dil@lehn.org&gt;</a></dd>
</dl>
{% endblock %}
