{% extends "base.html" %}
{% block title %}Upload Status{% endblock %}
{% block script %}
$(document).ready(function() {
    $('#preview').click(function() {
        $('#fc').ajaxSubmit({
            url: '/fc/-/create'
        });
        return false;
    });
    $('#create').click(function() {
        $('#fc').ajaxSubmit({
            url: '/fc'
        });
        return false;
    });
});
{% endblock %}
{% block content %}
<h2>Upload Status</h2>
<div>
  <p>Blob Info: {{ blob_info }}</p>
</div>
{% endblock %}
