{% extends "base.html" %}
{% block title %}Legal{% endblock %}
{% block content %}
<h3>Legal Information</h3>
<div class="notice">
<em>This information is under development and not yet final.</em>
</div>
<div>
<p>The Internet Fortune Cookie Database (IFCDB) has a policy that all content must be licensed properly.  Content must be in the public domain, available for fair use, available under another similar &quot;free&quot; license, or available under another appropriate license that allows use by IFCDB and its users.  Content that does not fall under these conditions will be removed or clearly marked as appropriate.  If you find content that does not meet these conditions please <a href="/contact">contact</a> us immediately with the URLs of the content in question and a detailed description of the legal issues with that content.  The IFCDB staff will make every attempt to address these issues.</p>
</div>
{% endblock %}
