{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
<h3>Privacy Policy</h3>
<div class="notice">
<em>This policy is under development and not yet final.</em>
</div>
<div>
<p>The Internet Fortune Cookie Database (IFCDB) takes privacy seriously.  If you have any issues with content on our site please <a href="/contact">contact</a> us and we will try to address your concerns.  We will not distribute private personal data from IFCDB.  Aggregate data of all our users may be used for statistical or other purposes.</p>
</div>
{% endblock %}
